.gain-box li {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin: 10px 0;
}
.gain-box span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.curve-advantage-section .wb-box .wb-item {
    width: 22%;
}
.har__wrapper {
    flex-direction: column;
}
.har_columns {
    display: flex;
    width: 100%;
    gap: 30px;
}
.har_columns .firstColumn, .secondColumn {
    display: flex;
    width: 50%;
}
.firstColumn .har__column, .secondColumn .har__column {
    margin-right: 0;
    max-width: unset;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.firstColumn .har__column-box, .secondColumn .har__column-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.firstColumn .har__column-box li, .secondColumn .har__column-box li {
    width: 100%;
    display: flex;
    margin-bottom: 0;
}
.firstColumn .har__column-box .item, .secondColumn .har__column-box .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.har__column-box .item span:first-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.8;
}
@media screen and (max-width: 991px) {
    .curve-advantages-box .wb-item {
        width: 100% !important;
    }
}
@media screen and (max-width: 991px) {
    .har {
        display: flex !important;
    }
}
@media screen and (max-width: 781px) {
    .har_columns {
        flex-direction: column;
        align-items: center;
    }
    .har_columns .firstColumn, .har_columns .secondColumn {
        width: 100%;
    }
}