.main-section {
    overflow: unset;
}
.main-box {
    background: #FFFFFF;
    box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 50px 30px;
    gap: 10px;
}
.main-item {
    background: none;
    background: #EFF5FF;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    width: unset;
    height: unset;
}
.main-item_img {
    margin-top: unset;
    height: unset;
}
.main-item_img img {
    width: 170px;
    height: 150px;
}
.dropdownMenuCustom {
    position: absolute;
    width: max-content;
    background: #FFFFFF;
    box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px 20px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    z-index: 10;
    top: 150px;
    left: 0;
}
.itemWithArrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.childList {
    display: none;
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.main-item:hover .dropdownMenuCustom {
    display: flex;
}
.itemWithArrow:hover .childList {
    display: flex;
}
.dropdownMenuCustom a {
    color: #000;
}
.underLinedLink {
    text-decoration: none;
    background-image: linear-gradient(#089D87, #089D87);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.underLinedLink:hover, .underLinedLink:focus {
    background-size: 100% 2px;
    color: #089D87;
}
.main-section {
    background: unset;
    background: linear-gradient(to bottom, #EFF5FF 65%, #F6F7F9 35%);
}
.dropdownMenuCustom span {
    padding-bottom: 5px;
}