.menu-box_main {
    position: relative;
}
.productionDropdownMenu {
    width: 84vw;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    z-index: 10;
    left: -26vw;
    top: 35px;
}
.productionMenuHoverItem:hover .productionDropdownMenu {
    display: flex !important;
}
.productionDropdownMenuUpper {
    display: flex;
    justify-content: center;
}
.productionDropdownMenuItem .productionMenuMainImage {
    width: 170px;
    height: 150px;
}
.productionDropdownMenuItem {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px 10px;
}
.productionMenuItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.productionItemWithArrow {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: unset !important;
    height: unset !important;
    gap: 10px;
}
.productionMenuItems a {
    align-items: flex-start !important;
}
.itemHeader {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: 10px;
    height: unset !important;
}
.productionChildItem {
    display: none;
    flex-direction: column;
    margin-left: 10px;
    align-items: flex-start;
}
.productionDropdownMenuUpper .itemName:hover .productionChildItem {
    display: flex;
}
.productionDropdownMenuBottom {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
}
.bottomMenuChilds {
    display: none;
    justify-content: center;
    gap: 10px;
}
.bottomDropdownMenu {
    display: flex;
    align-items: center;
}
.productionDropdownMenuBottom .bottomDropdownMenu:hover .bottomMenuChilds {
    display: flex !important;
}
.bottomMenuChilds span {
    width: max-content;
}
.productionDropdownMenuBottom .itemHeader {
    width: max-content !important;
}
.productionDropdownMenuItemChild {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.productionDropdownMenuItem .itemHeader:hover .productionDropdownMenuItemChild {
    display: flex;
}
@media (max-width: 991px) {
    .productionMenuHoverItem:hover .productionDropdownMenu {
        display: none !important;
    }
}

.productionInnerMenu {
    padding: 20px;
    background: url(../img/menu-uzor.svg) no-repeat bottom right, #EFF5FF;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.innerUpper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.innerMenuItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.innerMenuItems a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.innerUpper span {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 89, 68, 0.8);
}
.innerBack {
    display: flex;
    align-items: center;
    gap: 5px;
}
.innerMenuItem {
    width: 100%;
}
.innerMenuItemHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.innerMenuItemHeader .innerHeaderArrow {
    transform: rotate(90deg);
}
.innerMenuItem .innerMenuItems {
    margin-top: 10px;
    margin-left: 10px;
    display: none;
}
.innerMenuItem:hover .innerMenuItems {
    display: flex;
}
.innerMenuItem .innerMenuItems span {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.innerChildItem {
    margin-top: 10px;
    margin-left: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
}
.itemName:hover .innerChildItem {
    display: flex;
}
.openInnerMenu {
    display: flex;
}
.innerMenuItems .productionItemWithArrow {
    align-items: center !important;
}