@font-face {
    font-family: 'ProximaNovaExtrabld';
    src: url('fonts/ProximaNovaExtrabld.eot');
    src: url('fonts/ProximaNovaExtrabld.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaExtrabld.woff2') format('woff2'),
         url('fonts/ProximaNovaExtrabld.woff') format('woff'),
         url('fonts/ProximaNovaExtrabld.ttf') format('truetype'),
         url('fonts/ProximaNovaExtrabld.svg#ProximaNovaExtrabld') format('svg');
}
