@font-face {
    font-family: 'GothamPro';
    src: url('fonts/GothamPro.eot');
    src: url('fonts/GothamPro.eot') format('embedded-opentype'),
         url('fonts/GothamPro.woff2') format('woff2'),
         url('fonts/GothamPro.woff') format('woff'),
         url('fonts/GothamPro.ttf') format('truetype'),
         url('fonts/GothamPro.svg#GothamPro') format('svg');
}
